
@{
    ViewData["Title"] = "افزودن محصول";
    var brand = ViewData["Brand"] as List<Brand>;
    var category = ViewData["Category"] as List<Category>;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@model ProductViewModel
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-card margin-b-30">
            <div class="panel-heading">
                <h4 class="panel-title"> افزودن محصول </h4>
            </div>
            <div class="panel-body">
                <!-- Start .Form -->
                <div class="panel-body">
                    <form asp-area="admin" asp-controller="Product" asp-action="InsertProductConfirm"
                          id="form1" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">نام محصول <span class="red-color">*</span></label>
                            <div class="col-sm-10">
                                <input asp-for="Name" type="text" class="form-control">
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label title="مقداری منحصر به فرد انتخاب شود" class="col-sm-2 control-label">کد کالا <span class="red-color">*</span></label>
                            <div class="col-sm-10">
                                <input asp-for="Code" type="number" class="form-control">
                                <span asp-validation-for="Code"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">برند <span class="red-color">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" asp-for="BrandI">
                                    @if (brand.Count > 0)
                                    {
                                        @foreach (var item in brand)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="BrandI"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> دسته بندی<span class="red-color">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" asp-for="CategoryId">
                                    @if (category.Count > 0)
                                    {
                                        @foreach (var item in category)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="CategoryId"></span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">قیمت <span class="red-color">*</span></label>
                            <div class="col-sm-10">
                                <input asp-for="BasePrice" type="text" class="form-control">
                                <span asp-validation-for="BasePrice"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="chkMenu" class="col-sm-2 control-label">قیمت بر حسب متر</label>
                            <div class="col-sm-4">
                                <input asp-for="ContentAvailable" value="true" type="checkbox" class="checkbox-custom" id="chkMenu">
                                <span asp-validation-for="ContentAvailable"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">تصویر اصلی کالا <span class="red-color">*</span></label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input asp-for="MainImage" type="file" class="custom-file-input" required>
                                    <span asp-validation-for="MainImage"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">دیگر تصاویر کالا</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input asp-for="img" type="file" class="custom-file-input" multiple>
                                    <span asp-validation-for="img"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">وضعیت کالا</label>
                            <div class="col-sm-10">
                                <div class="radio inline-element sp-rl-padding-10">
                                    <input asp-for="Status" value="true" type="radio" id="Option_1" checked>
                                    <label for="Option_1">فعال</label>
                                </div>
                                <div class="radio inline-element sp-rl-padding-10">
                                    <input asp-for="Status" value="false" type="radio" id="Option_2">
                                    <label for="Option_2">غیر فعال</label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="button" id="btnCancel">صرف نظر</button>
                            <button class="btn btn-primary" type="submit">ثبت کالا</button>
                        </div>
                    </form>
                </div>
            </div>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            <script src="~/persian_datepicker/js/persianDatepicker.min.js"></script>
            <script>
                $("#pdpBig").persianDatepicker({
                    cellWidth: 48,
                    cellHeight: 30,
                    fontSize: 15
                });
                $("#btnCancel").click(function () {
                    $("#form1")[0].reset();
                })
            </script>
            <!-- End .Form -->
        </div>
    </div>
</div>





