
@{
    ViewData["Title"] = " لیست محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<ProductAbstract>
<div class="panel panel-card margin-b-30 ">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title"> لیست محصولات </h4>
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>دسته بندی</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.FirstOrDefault() != null)
                {
                    int Counter = 1;
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Counter</td>
                            <td>@item.Name</td>
                        </tr>
                        Counter++;
                    }
                }




            </tbody>
        </table>
    </div>
</div>

