
@{
    ViewData["Title"] = "ویرایش صفحه درباره ما";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var dbAboutUs = ViewData["AboutUs"] as GeneralPage;
}

@model GeneralPageViewModel
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-card margin-b-30">
            <div class="panel-heading">
                <h4 class="panel-title"> ویرایش صفحه درباره ما  </h4>
            </div>
            <div class="panel-body">
                <!-- Start .Form -->
                <div class="panel-body">
                    <form asp-area="admin" asp-controller="Home" asp-action="InsertAboutConfirm"
                          id="form1" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <input asp-for="Id" hidden="hidden" value="@dbAboutUs.Id">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">تیتر صفحه</label>
                            <div class="col-sm-10">
                                <input asp-for="Summary" type="text" class="form-control" value="@dbAboutUs.Summary">
                                <span asp-validation-for="Summary"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">متن اصلی</label>
                            <div class="col-sm-10">
                                <textarea hidden="hidden" id="txtMainOld">@dbAboutUs.ContentHtml</textarea>
                                <textarea id="txtMainNew" rows="10" asp-for="ContentHtml" type="text" class="form-control"></textarea>
                                <span asp-validation-for="ContentHtml"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> تغییر تصویر</label>
                            <div class="col-sm-10">
                                @if (dbAboutUs.MainImage != null)
                                {
                                    <img id="img1" width="330" height="230" alt=""
                                         src=@($"data:image/jpeg;base64,{Convert.ToBase64String(dbAboutUs.MainImage)}")>
                                }
                                else
                                {
                                    <img id="img1" src="~/images/box.png" class="img-thumbnail" width="150" />
                                }

                                <br />
                                <br />
                                <div class="custom-file">
                                    <input id="imgInsert" asp-for="MainImage" type="file" class="custom-file-input">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">وضعیت </label>
                            <div class="col-sm-10">
                                @if (dbAboutUs.Status)
                                {
                                    <div class="radio inline-element sp-rl-padding-10">
                                        <input asp-for="Status" value="true" type="radio" id="Option_1" checked>
                                        <label for="Option_1">فعال</label>
                                    </div>
                                    <div class="radio inline-element sp-rl-padding-10">
                                        <input asp-for="Status" value="false" type="radio" id="Option_2" )>
                                        <label for="Option_2">غیر فعال</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="radio inline-element sp-rl-padding-10">
                                        <input asp-for="Status" value="true" type="radio" id="Option_1">
                                        <label for="Option_1">فعال</label>
                                    </div>
                                    <div class="radio inline-element sp-rl-padding-10">
                                        <input asp-for="Status" value="false" type="radio" id="Option_2" checked>
                                        <label for="Option_2">غیر فعال</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="button" id="btnCancel">صرف نظر</button>
                            <button class="btn btn-primary" type="submit">ثبت  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/persian_datepicker/js/persianDatepicker.min.js"></script>
<script>
    $(txtMainNew).html($(txtMainOld).html());
    $(imgInsert).change(function (e) {
        var reader = new FileReader();
        //console.log(this.files);
        reader.readAsDataURL(this.files[0]);
        reader.onloadend = function (e) {
            $(img1).attr('src', e.target.result)
        }
    });
</script>


