
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var username = ViewData["username"];
    var xx = 1;
}

@model ResetPasswordViewModel
<div dir="rtl" class="text-right login-register-section section pt-90 pt-lg-70 pt-md-60 pt-sm-55 pt-xs-45  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="customer-login-register">

                    <div class="text-right register-form">
                        <div class="text-center form-register-title">
                            <h2> تایید کد ارسالی جهت بازیابی کلمه عبور</h2>
                        </div>
                        <hr />
                        <form asp-controller="Account" asp-action="ResetPasswordCheckTokenConfirm">
                            <input asp-for="Key" value="@username" hidden/>
                            <div class="form-fild">
                                <p><label>کد ارسال شده را در این کادر وارد نمایید </label></p>
                                <input asp-for="Token" value="" type="text" placeholder="کد 6 رقمی ارسالی">
                                <span asp-validation-for="Key"></span>
                            </div>
                            <div class="form-fild">
                                <p><label asp-for="Password"></label></p>
                                <input asp-for="Password" type="password" placeholder="کلمه عبور">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-fild">
                                <p><label asp-for="ConfirmPassword"></label></p>
                                <input asp-for="ConfirmPassword" type="password" placeholder="تکرار کلمه عبور">
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="register-submit mt-4">
                                <button type="submit" class="btn btn-block">درخواست تغییر کلمه عبور</button>
                            </div>
                            <hr />
                            <div>
                                <a asp-controller="Account" asp-action="Login" class="red-color">ورود به حساب کاربری</a>
                            </div>
                            <div>
                                <a asp-controller="Account" asp-action="Register" class="red-color">ثبت نام نکرده اید؟</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/persian_datepicker/js/persianDatepicker.min.js"></script>

