
@{
    Layout = null;

}
<!-- Page Banner Section Start -->
@model PageBannerViewModel
<div class="page-banner-section section bg-image" data-bg="/temp_images/banner/top_banner-12.jpg">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-right">
                    <h2>@Model.Title</h2>
                    <ul class="page-breadcrumb rtl-class">
                        <li><a asp-action="Index" asp-controller="Home">صفحه اصلی</a></li>
                        <li>@Model.PageName</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->