
@{
    Layout = null;
}

<!--slider section start-->
<div class="hero-section section position-relative">
    <div class="hero-slider section">

        <!--Hero Item start-->
        <div class="hero-item large-height bg-image" data-bg="/temp_images/slider/slider_1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-content-2 margin-top center">

                            <h2>طراحی خلاقانه <br> مدرنترین درب های ساختمان</h2>
                            <a href="shop.html" class="btn">خرید</a>

                        </div>
                        <!--Hero Content end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
        <!--Hero Item start-->
        <div class="hero-item large-height bg-image" data-bg="/temp_images/slider/slider_2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-content-2 margin-top center">

                            <h2>انقلابی در صنعت درب سازی <br> تولید شده توسط برترین دستگاه های برش</h2>
                            <a href="shop.html" class="btn">ادامه</a>
                        </div>
                        <!--Hero Content end-->
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
        <!--Hero Item start-->
        <div class="hero-item large-height bg-image" data-bg="/temp_images/slider/slider_3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-content-2 margin-top center">

                            <h2>طراحی خلاقانه <br> مدرنترین درب های ساختمان</h2>
                            <a href="shop.html" class="btn">خرید</a>
                        </div>
                        <!--Hero Content end-->
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
    </div>
</div>
<!--slider section end-->
