
@{
    Layout = null;
}

<!--Footer section start-->
<footer class="footer-section section bg-gray">

    <!--Footer Top start-->
    <div class="footer-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-10">
        <div class="container">
            <div class="row rtl-class">

                <!--Footer Widget start-->
                <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h4 class="title"><span class="text">ساعات فعالیت شرکت</span></h4>
                    <p class="mb-15">شنبه تا چهارشنبه از ساعت 8 صبح الی 8 شب</p>
                    <p class="mb-15">پنجشنبه از ساعت 8 صبح تا 1:30 ظهر</p>
                </div>
                <!--Footer Widget end-->
                <!--Footer Widget start-->
                <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h4 class="title"><span class="text">دسترسی سریع</span></h4>
                    <ul class="ft-menu">
                        <li><a asp-controller="Account" asp-action="UserPanel">پروفایل کاربری</a></li>
                        <li><a asp-controller="Invoice" asp-action="ShowPurchuseCart">سبد خرید</a></li>
                        <li><a asp-controller="Account" asp-action="UserPanel">پیگیری سفارش</a></li>
                        <li><a asp-controller="Home" asp-action="About">آشنایی با شرکت</a></li>
                    </ul>
                </div>
                <!--Footer Widget end-->
                <!--Footer Widget start-->
                <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h4 class="title"><span class="text">اطلاعات</span></h4>
                    <ul class="ft-menu">
                        <li><a asp-controller="Home" asp-action="About">درباره ما</a></li>
                        <li><a asp-controller="Home" asp-action="ContactUs">تماس با کارشناسان ما</a></li>
                        <li><a asp-controller="Product" asp-action="Search">فروشگاه پرشین درب</a></li>
                        <li><a asp-controller="Blog" asp-action="Index">مقالات</a></li>
                    </ul>
                </div>
                <!--Footer Widget end-->
                <!--Footer Widget start-->
                <div class="footer-widget text-lg-right text-left col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35 rtl-class">
                    <h4 class="title"><span class="text">ارتباط با ما</span></h4>
                    <ul class="ft-menu">
                        <li><a href="#">آدرس:</a></li>
                        <li><a href="#">شهرک بزرگ صنعتی شیراز، بلوار ابتکار، واحد 112 </a></li>
                        <li><a href="#">پست الکترونیک:</a></li>
                        <li><a class="text-left">Info@PersianDoorsCo.ir</a></li>
                        <li><a href="#"> تلفن های تماس:</a></li>
                        <li><a class="text-left">07137742667</a></li>
                        <li><a class="text-left">07137742687</a></li>

                    </ul>
                </div>
                <!--Footer Widget end-->
            </div>
        </div>
    </div>
    <!--Footer Top end-->
    <!--Footer bottom start-->
    <div class="footer-bottom section">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 ft-border pt-20 pb-20">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="copyright text-center">
                                <p>کلیه حقوق این سایت متعلق به شرکت <a href="http://persiandoorsco.ir"><b>پرشین درب جنوب</b></a> می‌باشد </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer bottom end-->

</footer>
