
@{
    Layout = null;
}

<!-- Newsletter Section Start -->
<div class="newsletter-section section bg-gray-two pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-95 pb-lg-75 pb-md-65 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row align-items-center rtl-class">
            <div class="col-lg-6">
                <div class="newsletter-content rtl-class">
                    <h2>عضویت در خبرنامه</h2>
                    <p class="farsi-num">همین امروز در خبرنامه ما عضو شوید تا از آخرین اخبار و محصولات جدید ما آگاه شوید.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="newsletter-wrap">
                    <div class="newsletter-form">
                        <form id="mc-form" class="mc-form">
                            <input type="email" placeholder=" ایمیل و یا شماره تلفن خود را وارد نمایید " required>
                            <button type="submit" value="submit"> ثبت نام ! </button>
                        </form>

                    </div>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Section End -->