
@{
    Layout = null;
}

<!--Brand section start-->
<div class="brand-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            <div class="brand-slider section">
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-1.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-2.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-3.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-4.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-5.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-1.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-2.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-3.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-4.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
                <div class="col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <div class="brand-image">
                            <img src="~/shared/main/assets/images/brands/brand-5.png" alt="">
                        </div>
                    </div>
                    <!-- Single Brand End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Brand section end-->