
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/Header/_PartialPageBanner.cshtml",
    new PageBannerViewModel {
        Title = "درباره ما",
        PageName = "درباره ما"

    })
@model GeneralPage
@if (Model != null)
{


<!--About Us Area Start-->
<div class="about-us-area section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-45 pb-70 pb-lg-50 pb-md-60 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <!--About Us Image Start-->
                <div class="about-us-img-wrapper mb-30 mb-xs-15">
                    <div class="about-us-image img-full">
                        <a href="#"><img alt="" width="500" src=@($"data:image/jpeg;base64,{Convert.ToBase64String(Model.MainImage)}") ></a>
                    </div>
                </div>
                <!--About Us Image End-->
            </div>
            <div class="col-lg-6 col-12 ">
                <!--About Us Content Start-->
                <div class="rtl-class about-us-content pl-30 pl-md-0 pl-sm-0 pl-xs-0 text-right">
                    @{
                        string[] lines = Model.ContentHtml.Split('\n');
                    }
                    <span>@Model.Summary</span>
                    <h2></h2>
                    @foreach (var item in lines)
                    {
                        <p class="text-justify ">@item</p>
                    }
                </div>
                <!--About Us Content End-->
            </div>
        </div>
    </div>
</div>
<!--About Us Area End-->
}
@await Html.PartialAsync("~/Views/Shared/Footer/_PartialNewsletter.cshtml")
