
.main-menu{
    direction:rtl !important;
    text-align:right !important;
}
.sub-menu,
.mega-menu {
    direction: rtl !important;
    text-align: right !important;
    right: 0 !important;
}
.sub-menu li a{
    text-align:right !important;
}
.product-description,
.product-details-content,
.main-menu ul li a {
    text-align: right !important;
    direction: rtl;
}

.rtl-class,
.mega-menu li ul,
.mega-menu ul {
    direction: rtl !important;
    text-align: right !important;
}
.hero-content-2,
.hero-content-2 h2,
.hero-content-2 a {
    color: #eeece3 !important;
}
.farsi-num {
    font-family: 'NumIRANSans';
    direction:rtl;
}
.center-class{
    direction:rtl;
    text-align:center;
}
.title,
.product-details-right,
.hero-content-2 h2,
.hero-content-2 {
    direction: rtl !important;
}
#search{
    direction:rtl !important;
    text-align:right;
    font-size:20px !important;
}
.dtSearch{
    width:100%;
}
.fg-pale-gray{
    color:#9d9d9d !important;
}
.dashed-link {
    padding: 2px;
    border-bottom: dashed 1px #85b3be;
    color: #85b3be !important;
    text-align: center;
    font-size: 13px;
}
    .dashed-link:focus,
    .dashed-link:hover {
        color: #68b0c2 !important;
    }
.text-align-center{
    text-align:center !important;
}
.full-width option,
.full-width {
    width: 100% !important;
    display: block;
    z-index:99999 !important;
}


.sp-select{
    width:100% !important;
}
.sp-select *{
    max-height:250px !important;
    overflow-y:scroll !important;
}

.snackbar-container {
    width: 100%;
    position: fixed;
    top: -130px;
    text-align: center !important;
    z-index: 999;
    visibility: hidden;
}


.snackbar {
    position: absolute;
    top: 100px !important;
    width: 100%;
    text-align: center;
    direction: rtl;
}

    .snackbar label {
        background: rgba(18, 18, 18, 0.80);
        padding: 8px 36px 8px 26px;
        color: #fff;
        position: relative;
        border-radius: 2px !important;
    }

.btn-clide {
    position: absolute;
    top: 2px;
    right: 10px !important;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
a.red-color{
    color:#d71a1a !important;
}
    a.red-color:hover,
    a.red-color:focus {
        color: #d71a1a !important;
        border-bottom: 1px dashed #d71a1a;
    }

::-webkit-input-placeholder { /* Edge */
    color: #9f9f9f;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9f9f9f;
}

::placeholder {
    color: #9f9f9f;
}

.card-body ::-webkit-input-placeholder {
    font-size: 12px !important;
}
.card-body :-ms-input-placeholder {
    font-size: 12px !important;
}
.card-body ::placeholder {
    font-size: 12px !important;
}
.card-body{
    padding:10px 5px !important;
}
#addressContainer .btn {
    font-size: 12px !important;
    margin: 5px !important;
    padding: 8px 16px !important;
}
.page-banner-section {
    background-size: cover;
    background-size: 100% ;
    background-repeat:no-repeat;

}
.sp-col-md:first-child{
    width:25% !important;
}
.sp-col-md{
    width:70% !important;
}
.mobile-version{
    display:none !important;
}
@media only screen and (max-width:700px) {
    .image{
        width: 100%;
    }
    .image img{
        width:100% !important;
    }
    .desktop-version {
        display: none !important;
    }
    .mobile-version {
        display: block !important;
    }
    .sp-col-md:first-child {
        width: 40% !important;
    }

    .sp-col-md {
        width: 55% !important;
    }
}
@media only screen and (max-width:550px) {
    .page-banner-section{
        padding-top:20px !important;
        padding-bottom:20px !important;

    }
    .sp-col-md:first-child {
        width: 50% !important;
    }
    .sp-col-md {
        width: 50% !important;
        padding-right:10px !important;
    }
}
@media only screen and (max-width:250px) {
    .sp-col-md:first-child {
        width: 100% !important;
        padding-right: 5px !important;
    }
    .sp-col-md {
        width: 100% !important;
        padding-right:50px !important;
    }
}