
@{
    ViewData["Title"] = "تایید پرداخت";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/Header/_PartialPageBanner.cshtml",
    new PageBannerViewModel {
        Title = "سفارشات",
        PageName = "تایید پرداخت"

    })


<div class="section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-45 pb-70 pb-lg-50 pb-md-60 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-12 ">
                <div class="pl-30 pl-md-0 pl-sm-0 pl-xs-0 text-right">
                    <h3>با تشکر از شما، سفارش شما با موفقیت پرداخت شد</h3>
                    <div>
                        <p>
                            برای پیگیری سفارش به بخش سفارشات در پنل کاربری بروید
                        </p>
                        <div class="cart-summary-button col-lg-6  m-auto">
                            <a class="btn btn-block"href="/Account/UserPanel#orders" >پیگیری سفارش</a>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>
