
@{
    ViewData["Title"] = "Test";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Test</h1>
<section class='example'>
    <p>
        <ul>
            <li>
                <a class='error' href='#'>Error!</a>
            </li>
            <li>
                <a class='notice' href='#'>Notice!</a>
            </li>
            <li>
                <a class='warning' href='#'>Warning!</a>
            </li>
        </ul>
    </p>
</section>

